@model business.business.Pagina

@{
    ViewBag.Title = "Create";
}

<h2>Criar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Pagina</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <input type="hidden" value="@ViewBag.UserId" id="IdentificacaoUser">
        <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StoryId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StoryId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StoryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
                <label asp-for="SubStoryId" class="control-label"></label>
                <select asp-for="SubStoryId" class="form-control"></select>
                <span asp-validation-for="SubStoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GrupoId" class="control-label"></label>
                <select asp-for="GrupoId" class="form-control" ></select>
                <span asp-validation-for="GrupoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubGrupoId" class="control-label"></label>
                <select asp-for="SubGrupoId" class="form-control" ></select>
                <span asp-validation-for="SubGrupoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubSubGrupoId" class="control-label"></label>
                <select asp-for="SubSubGrupoId" class="form-control" ></select>
                <span asp-validation-for="SubSubGrupoId" class="text-danger"></span>
            </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="Layout" /> @Html.DisplayNameFor(model => model.Layout)
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Criar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar para a lista", "Index")
</div>

@section scripts{
  
    <script type="text/javascript" src="~/js/AjaxGetGroup.js"></script>
}
