@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@model business.business.Pagina

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
     List<business.business.Group.Story> stories = ViewBag.stories;
}

<style>
    #esquerda {
        left: 1%;
    }
    #direita {
        right: 1%;
    }
    
    #partilha {
        font-size: 18px;
        color: rgb(95, 56, 23);
        font-family: fantasy;
    }
    
    #inscrito {
        font-size: 14px;
        color: rgb(212, 150, 65);
        font-family: fantasy;
    }
    
    #compartilhamentos {
        font-size: 14px;
        color: rgb(212, 150, 65);
        font-family: fantasy;
    }

   .topo{
       display:flex;
       flex-direction: row-reverse;
       flex-wrap: wrap;
       justify-content: space-between;
   }

</style>

<input type="hidden" value="@ViewBag.compartilhante" id="compartilhante" />
<input type="hidden" value="0" id="inverter" />

<script type="text/javascript">

            function acessarStory(url)
            {
                window.location.href =  url;
            }           

</script>

@ViewBag.message

<center>
    <div class="form-group">
                
            <input id="livro" name="livro" class="form-control" type="url" placeholder="digite domínio ou o livro">            
            @Html.ActionLink("Compartilhamentos", "Compartilhamento", "Home", null, new {id = "compartilhamentos"})
            </div>
            <div id="listaUrls" style="position:absolute; display:none; z-index:2000;" class="jumbotron">

            </div>
</center>

<div class="topo" style="z-index: 2;">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Sumário
</button>
    
    @Html.ActionLink("Compartilhe seu comentário", "Comentar", "Home", new {texto="..."}, new {id = "partilha"})
    <h4 id="inscrito">Inscritos: @ViewBag.users</h4>

        <center>            
        <input type="text" id="NumeroPaginaAcesso" style="width:80%; margin-left: 60px;"
               placeholder="N° do capítulo ou o nome"  />
            <a id="acessoPaginaComInput"  class="btn btn-primary glyphicon glyphicon-search">
                Acessar
            </a>
            <div id="listaUrlGrupo" style="position:absolute; display:none; z-index:2000; height: 500px; overflow: auto;" class="jumbotron">
            </div>
        </center>
        <center>            

            <label class="form-control" > capitulo @ViewBag.capitulo</label>
        <input type="number" id="NumeroVersoAcesso" style="width:80%; margin-left: 60px;"
               placeholder="N° do verso" min="1"  />
            <a id="acessoPaginaComVerso"  class="btn btn-primary glyphicon glyphicon-search">
                Acessar
            </a>
        </center>
    </div>
    <center>



    </center>

        <div class="row">
            <div class="col-md-12">
                <center>
                <img src="~/imagem/story.jpg" class="img-responsive" style="width: 75%;"   />

                </center>
            </div>        
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sumário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <table>
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Stories")
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @{

                        foreach (var item in stories)
                        {
                            <tr>
                                <td>
                                    Story @item.Nome
                                </td>
                                <td>
                                    .......................................
                                </td>
                                <td>
                                    <a href="/Renderizar/@item.PaginaPadraoLink/1">Cap. @item.PaginaPadraoLink</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        @* <button type="button" class="btn btn-primary">Save changes</button> *@
      </div>
    </div>
  </div>
</div>



    



@section Scripts {

     <script type="text/javascript">

            function buscarGrupos(texto, inversao)
                {
                        $.ajax({
                        type: 'POST',
                        url: '/AjaxGet/BuscarStories',
                        dataType: 'json',
                        data: { valor: texto, valorOrdem : inversao },
                        success: function (data) {

                            if (data == null)
                                $("#listaUrlGrupo").css("display", "none");
                            else
                                $("#listaUrlGrupo").css("display", "block");
                            $("#listaUrlGrupo").empty();      

                            $("#listaUrlGrupo").append(" <p>" +
                                "<a href='#' onclick=" + "\"buscarInverso();\" class='glyphicon glyphicon-refresh' >"  +
                                    "</a></p> <br>");                                        

                            $.each(data, function (i) {
                                var url = data[i].url+"/1/"+compartilhante;
                                var myArray = url.split("/");
                                var name = "";
                                if(myArray.length == 6) name = "Story";
                                if(myArray.length == 7) name = "Sub-Story";
                                if(myArray.length == 8) name = "Grupo";
                                if(myArray.length == 9) name = "Sub-Grupo";
                                if(myArray.length == 10) name = "Sub-Sub-Grupo";
                                if(myArray.length == 11) name = "Camada nº 6";
                                if(myArray.length == 12) name = "Camada nº 7";
                                if(myArray.length == 13) name = "Camada nº 8";
                                if(myArray.length == 14) name = "Camada nº 9";
                                if(myArray.length == 15) name = "Camada nº 10";
                                
                                $("#listaUrlGrupo").append(" <p>" +
                                "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                    " Capitulo " +data[i].capitulo+ " - " + name + " " + data[i].nome +
                                    "</a></p> <br>");
                            });                        
                        
                        },
                        error: function (ex) {
                            alert('Falha ao buscar urls.' + ex);
                        }
                    });
                }

             function buscarLivro(url)
            {
                document.getElementById("livro").value = url;
                 $("#listaUrls").css("display", "none");
            }         
             
             function buscarInverso()
            {
                debugger;
                var texto =  $("#NumeroPaginaAcesso").val();
                var ordenar = parseInt( $("#inverter").val());
                if(ordenar == 0)
                {
                    ordenar = 1;
                    $("#inverter").val(ordenar);
                    buscarGrupos(texto, ordenar);
                }
                else
                {
                    ordenar = 0;
                    $("#inverter").val(ordenar);
                    buscarGrupos(texto, ordenar);
                }
            }         

</script>
    
<script type="text/javascript">
        $(document).ready(function () {

            
            
            $("#livro").keyup(function(){   
         

                 $.ajax({
                    type: 'POST',
                    url: '/AjaxGet/BuscarLivros',
                    dataType: 'json',
                    data: { valor: $(this).val() },
                    success: function (data) {

                        if (data == null)
                            $("#listaUrls").css("display", "none");
                        else
                            $("#listaUrls").css("display", "block");
                        $("#listaUrls").empty();
                        $.each(data, function (i) {
                            
                            $("#listaUrls").append("<p>" +
                             "<a href='#' onclick=" + "\"buscarLivro('"+data[i].url+"');\" >" +
                                data[i].url +
                                "</a></p> <br>");
                                              
                        });
                    },
                    error: function (ex) {
                        alert('Falha ao buscar urls.' + ex);
                    }
                });

            });

             

        });
</script>
    
<script type="text/javascript">
        $(document).ready(function () {

            var compartilhante = $("#compartilhante").val();


            function BuscarStory(valorPaginaPadraoLink) {
        $.ajax({
            type: 'POST',
            url: '/AjaxGet/GetStory',
            dataType: 'json',
            data: { Indice: valorPaginaPadraoLink }
        })
            .done(function(response) {                

                if(response[0] == "Story")
                window.location.href = "/Renderizar/"   +  response[1] +  "/1/1/" + compartilhante;
                else if(response[0] == "SubStory")
                window.location.href = "/SubStory/"     +  response[1] +  "/1/1/1/" + compartilhante;
                else if(response[0] == "Grupo")
                window.location.href = "/Grupo/"        +  response[1] +  "/1/1/1/1/" + compartilhante;
                else if(response[0] == "SubGrupo")
                window.location.href = "/SubGrupo/"     +  response[1] +  "/1/1/1/1/1/" + compartilhante;
                else if(response[0] == "SubSubGrupo")
                window.location.href = "/SubSubGrupo/"  +  response[1] +  "/1/1/1/1/1/1/" + compartilhante;
            });
            return false;
    }
           
            function VerificarCompartilhamento(verso) {
        $.ajax({
            type: 'POST',
            url: '/AjaxGet/verificarCompartilhamento',
            dataType: 'json',
            data: { Livro: "@ViewBag.livro", Capitulo: @ViewBag.capitulo, Verso: verso   }
        })
            .done(function(response) {                
                
                if(response != "")
                window.location.href = response;
                else
                alert("Esta pagina não existe");

            });
            return false;
    }
             

            $("#acessoPaginaComInput").click(function(){                

                if($("#NumeroPaginaAcesso").val() != "")
                {
                    var num =  parseInt($("#NumeroPaginaAcesso").val());
                    BuscarStory(num - 1);
                }
                else
                alert("Informe o numero do capitulo!!!");

            });

            $("#acessoPaginaComVerso").click(function(){                

                if($("#NumeroVersoAcesso").val() != "")
                {
                    var num =  parseInt($("#NumeroVersoAcesso").val());
                    VerificarCompartilhamento(num);
                }
                else
                alert("Informe o numero do verso!!!");

            });
            
            $("#NumeroPaginaAcesso").keyup(function(){   
         

                var valor = parseInt( $(this).val());
                var ordenar = parseInt( $("#inverter").val());

               if (isNaN(valor))
                {
                     buscarGrupos($(this).val(), ordenar);
                }

            });



        });
</script>
}



