@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@model business.business.Pagina

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
     List<business.business.Group.Story> stories = ViewBag.stories;
}

<style>
    #esquerda {
        left: 1%;
    }
    #direita {
        right: 1%;
    }

   .topo{
       display:flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;
   }

</style>

<input type="hidden" value="@ViewBag.compartilhante" id="compartilhante" />

<script type="text/javascript">

            function acessarStory(url)
            {
                window.location.href =  url;
            }           

</script>

<br />
<br />
<br />

<div class="topo">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Sumário
</button>
    
    @Html.ActionLink("Compartilhe seu comentário", "Comentar", "Home")
    <h4>Numero de inscritos: @ViewBag.users</h4>
</div>

<div style="z-index: 2;">
        <center>
            
        <input type="text" id="NumeroPaginaAcesso" style="width:80%; margin-left: 60px;"
               placeholder="N° do capítulo ou o nome"  />
            <a id="acessoPaginaComInput"  class="btn btn-primary glyphicon glyphicon-search">
                Acessar
            </a>

            <label> capitulo @ViewBag.capitulo</label>
        <input type="text" id="NumeroVersoAcesso" style="width:80%; margin-left: 60px;"
               placeholder="N° do verso"  />
            <a id="acessoPaginaComVerso"  class="btn btn-primary glyphicon glyphicon-search">
                Acessar
            </a>
        </center>
    </div>
    <center>

<div id="listaUrls" style="position:absolute; display:none; z-index:2000;" class="jumbotron">

</div>

    </center>

        <div class="row">
            <div class="col-md-12">
            <img src="~/imagem/story.jpg" class="img-responsive" style="width: 100%;"   />
            </div>        
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sumário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <table>
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Stories")
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @{

                        foreach (var item in stories)
                        {
                            <tr>
                                <td>
                                    Story @item.Nome
                                </td>
                                <td>
                                    .......................................
                                </td>
                                <td>
                                    <a href="/Renderizar/@item.PaginaPadraoLink/1">Cap. @item.PaginaPadraoLink</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        @* <button type="button" class="btn btn-primary">Save changes</button> *@
      </div>
    </div>
  </div>
</div>



    



@section Scripts {
    
<script type="text/javascript">
        $(document).ready(function () {

            var compartilhante = $("#compartilhante").val();


            function BuscarStory(valorPaginaPadraoLink) {
        $.ajax({
            type: 'POST',
            url: '/AjaxGet/GetStory',
            dataType: 'json',
            data: { Indice: valorPaginaPadraoLink }
        })
            .done(function(response) {                

                if(response[0] == "Story")
                window.location.href = "/Renderizar/"   +  response[1] +  "/1/1/" + compartilhante;
                else if(response[0] == "SubStory")
                window.location.href = "/SubStory/"     +  response[1] +  "/1/1/1/" + compartilhante;
                else if(response[0] == "Grupo")
                window.location.href = "/Grupo/"        +  response[1] +  "/1/1/1/1/" + compartilhante;
                else if(response[0] == "SubGrupo")
                window.location.href = "/SubGrupo/"     +  response[1] +  "/1/1/1/1/1/" + compartilhante;
                else if(response[0] == "SubSubGrupo")
                window.location.href = "/SubSubGrupo/"  +  response[1] +  "/1/1/1/1/1/1/" + compartilhante;
            });
            return false;
    }
             

            $("#acessoPaginaComInput").click(function(){                

                if($("#NumeroPaginaAcesso").val() != "")
                {
                    var num =  parseInt($("#NumeroPaginaAcesso").val());
                    BuscarStory(num - 1);
                }
                else
                alert("Informe o numero do capitulo!!!");

            });

            $("#acessoPaginaComVerso").click(function(){                

                if($("#NumeroVersoAcesso").val() != "")
                {
                    var num =  parseInt($("#NumeroVersoAcesso").val());
                    window.location.href = "@ViewBag.livro" + "/Renderizar/"   + @ViewBag.capitulo +
                      "/" + num + "/1/" + compartilhante;
                }
                else
                alert("Informe o numero do verso!!!");

            });

           

            $("#NumeroPaginaAcesso").keyup(function(){   
         

                var valor = parseInt( $(this).val());

               if (isNaN(valor))
                {

                      $.ajax({
                    type: 'POST',
                    url: '/AjaxGet/BuscarStories',
                    dataType: 'json',
                    data: { valor: $(this).val() },
                    success: function (data) {

                        if (data == null)
                            $("#listaUrls").css("display", "none");
                        else
                            $("#listaUrls").css("display", "block");
                        $("#listaUrls").empty();
                        $.each(data.story, function (i) {
                            var url = "/Renderizar/"+data.story[i].paginaPadraoLink+"/1/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                             "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.story[i].paginaPadraoLink+ " - "  + data.story[i].nome +
                                "</a></p> <br>");
                        });

                        $.each(data.substory, function (i) {
                            var url = data.substory[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                             "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.substory[i].capitulo+ " - Sub-Story "  + data.substory[i].nome +
                                "</a></p> <br>");
                        });

                        $.each(data.grupo, function (i) {
                            var url = data.grupo[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                             "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.grupo[i].capitulo+ " - Grupo "  + data.grupo[i].nome +
                                "</a></p> <br>");
                        });
                        
                        $.each(data.subgrupo, function (i) {
                            var url = data.subgrupo[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                             "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.subgrupo[i].capitulo+ " - Sub-Grupo "  + data.subgrupo[i].nome +
                                "</a></p> <br>");
                        });

                        $.each(data.subsubgrupo, function (i) {
                             var url = data.subsubgrupo[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                            "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.subsubgrupo[i].capitulo+ " - Sub-Sub-Grupo "  + data.subsubgrupo[i].nome +
                                "</a></p> <br>");
                        });
                        
                        $.each(data.camadaseis, function (i) {
                             var url = data.camadaseis[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                            "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.camadaseis[i].capitulo+ " - Sub-Sub-Grupo "  + data.camadaseis[i].nome +
                                "</a></p> <br>");
                        });
                      
                        $.each(data.camadasete, function (i) {
                             var url = data.camadasete[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                            "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.camadasete[i].capitulo+ " - Sub-Sub-Grupo "  + data.camadasete[i].nome +
                                "</a></p> <br>");
                        });
                       
                        $.each(data.camadaoito, function (i) {
                             var url = data.camadaoito[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                            "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.camadaoito[i].capitulo+ " - Sub-Sub-Grupo "  + data.camadaoito[i].nome +
                                "</a></p> <br>");
                        });
                        
                        $.each(data.camadanove, function (i) {
                             var url = data.camadanove[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                            "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.camadanove[i].capitulo+ " - Sub-Sub-Grupo "  + data.camadanove[i].nome +
                                "</a></p> <br>");
                        });
                        
                        $.each(data.camadadez, function (i) {
                             var url = data.camadadez[i].url+"/1/"+compartilhante;
                            $("#listaUrls").append("<p>" +
                            "<a href='#' onclick=" + "\"acessarStory('"+url+"');\" >" +
                                " Capitulo " +data.camadadez[i].capitulo+ " - Sub-Sub-Grupo "  + data.camadadez[i].nome +
                                "</a></p> <br>");
                        });
                    },
                    error: function (ex) {
                        alert('Falha ao buscar urls.' + ex);
                    }
                });

                }

            });



        });
</script>
}



