@model IEnumerable<business.Back.Background>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayName("Nome")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Div.Nome)
            </td>

            <td>
                <a class="EditarBackground" data-value="@item.Id">Editar</a> 
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".EditarBackground").click(function () {
                var id = $(this).data("value");
                $("#conteudomodal").load("/Ferramenta/EditBackground/" + id);
            }); 

        });
    </script>
</div>
