@model business.business.Pagina

@{
    Layout = "~/Views/Shared/_Render.cshtml";
    var proximo = ViewBag.proximo;   
    var anterior = proximo - 2;
    var atual = proximo - 1;
    var quant = ViewBag.quantidadePaginas;
    ViewData["NomeStory"] = Model.Titulo;
    ViewBag.Title = Model.Titulo;
    string valor = ViewBag.html;
    
    
}

<script src="/lib/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="~/css/RenderizarDinamico.css" />
    <link rel="stylesheet" href="~/css/RenderizarDinamico2.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />

    <input type="hidden" value="@ViewBag.compartilhante" id="compartilhante" />
    <input type="hidden" value="@ViewBag.auto" id="auto" />
    <input type="hidden" value="@Model.Tempo" id="Tempo" />
    <input type="hidden" value="@Model.Id" id="IdentificacaoPagina" />
    <input type="hidden" value="@ViewBag.user" id="ValorUser" />
    <input type="hidden" value="@atual" id="ValorAtual" />
    <input type="hidden" value="@quant" id="ValorQuant" />
    <input type="hidden" value="@proximo" id="ValorProximo" />
    <input type="hidden" value="@anterior" id="ValorAnterior" />
    <input type="hidden" value="@Model.Story.PaginaPadraoLink" id="ValorPaginaPadraoLink" />
    <input type="hidden" value="@Model.Story.Nome" id="ValorStoryNome" /> 

    <a class="left carousel-control blocoLoader2" href="/Renderizar/@(Model.Story.PaginaPadraoLink)/@(anterior)/1/@ViewBag.compartilhante" style="display:none;">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control blocoLoader2" href="/Renderizar/@(Model.Story.PaginaPadraoLink)/@(proximo)/1/@ViewBag.compartilhante" style="display:none;">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
    <div class="navbar navbar-inverse navbar-fixed-top">

     

    <div style="width:100%;" class="blocoLoader">

        <div class="col-xs-4">
            @{

                if (Model.Story.PaginaPadraoLink != 0)
                {
                    <span style="background-color:white;"><header>Story: @Model.Story.Nome</header> </span>
                    <br />
                    <span style="font-size: 12px; background-color: white;">
                        <a href="/Renderizar/0/@Model.Story.PaginaPadraoLink/1/@ViewBag.compartilhante" class="btn btn-primary">
                            Capítulo @Model.Story.PaginaPadraoLink
                        </a>
                    </span>
                }
                else
                {
                    <span style="background-color:white;">Capítulos</span>
                }
            }
        </div>

        <div class="right col-xs-8" id="Pesquisa">
            @{
                if (Model.Story.PaginaPadraoLink == 0)
                {
                    <span style="background-color:white;">Cap.</span>
                }
                else
                {
                    <span style="background-color:white;">Vers.</span>
                }
            }
            <input type="number" placeholder="digita o nome"
                   id="NumeroPaginaAcesso2" value="@atual" style="width: 60px; font-size: large;" />
            <a id="acessoPaginaComInput2" href="#"
               class="btn btn-primary glyphicon glyphicon-search loader">
            </a>
            <a href="/" class="glyphicon glyphicon-home" style="left: 3%;"></a>
            <br />
            <a id="voltar" href="#"
               class="btn btn-primary loader glyphicon glyphicon-chevron-left">
            </a>
            <a id="avancar" href="#"
               class="btn btn-primary loader glyphicon glyphicon-chevron-right">
            </a>
            <a id="message" href="#" class="btn btn-warning abrir">
                <img src="~/imagem/blue-messager2.png" width="30" alt="mensagem" id="msg" />
            </a>
            <a href="#" class="btn btn-primary agrupamento">
                sub-story
            </a>
            <a href="/paginacao/1/capitulo/1/20/11/@ViewBag.compartilhante" class="btn btn-primary">
                Listas
            </a>                           
        </div>

    </div>

    <div id="user"></div>  

     </div> 

     @{
        if (Model.Story.Comentario)
        {
            <br />  <br />
            <p style="background-color: rgb(227, 196, 101);" class="text-center" >@Model.Data.ToString("dd/MM/yyyy")</p>
             
              <br /> 
        }
       else if (Model.Produto == null && Model.Div.Count != 0)
        {
            <p style="background-color: rgb(227, 196, 101);" class="text-center" >@Model.Data.ToString("dd/MM/yyyy")</p>

        }
     }

     <div class="ProdutoContent">
     <!-- ProdutoContent -->
    @{
        if(Model.Produto != null)
        {
            <div class="row container" >
                <div class="col-md-6 info">
                    <p> Categoria: @Model.Produto.Nome </p>
                            <p> Descrição: @Model.Produto.Descricao </p>
                            <p> Preço: @Model.Produto.Preco </p>
                            <p> Estoque: @Model.Produto.QuantEstoque </p>
                            <div class="col-md-12 imagens">
                                @{
                                    @foreach (var item in Model.Produto.Imagem.ToList())
                                    {
                                        if (Model.Produto.Imagem.ToList().IndexOf(item) != 0)
                                        {
                                            <img src="@item.ArquivoImagem" style="width: 100%;" />
                                        }
                                    }
                                }
                            </div>
                </div>
                <div class="col-md-6 imagem">
                    <img src="@Model.Produto.Imagem.First().ArquivoImagem" style="width: 100%;"  />
                </div>
                
            </div>

        }
        else if(Model.ImagemContent != null)
        {  
            <center>
           <img src="@Model.ImagemContent" style="height: 600px;" >      

            </center>         
        }
        else
        {           
            <div id="descricao" ></div>      
            @Html.Raw(ViewBag.Html)      

            <div id="player" ></div>      
        }
    }

    

    <!-- ProdutoContent -->   

     </div>


      @{
        if (Model.Story.Comentario
        && Model.Story.SubStory.Where(str => str.Pagina.Count > 0).ToList().Count == 0)
        {
            <p>Comentário não classificado </p>
        }
        else if (Model.Story.Comentario)
        {
            <p>Classificação: @Model.Story.SubStory[0].Nome  </p>

        }
     }
     
      @{
        if (Model.Story.Comentario
        && Model.Comentario != null)
        {
            <p>Comentário do Capitulo @ViewBag.CapituloComentario Verso @ViewBag.VersoComentario </p>
        }
        else if (Model.Story.Comentario)
        {
            <p>Apenas um comentário </p>

        }
     }

    <div id="PaginacaoConteudo" style="position:fixed; bottom:1%; width: 100%; " class="Paginacao">

        <center>
            @* <a href="/Perfil/@ViewBag.user"  style="font-size:1.5rem; background-color:white; opacity: 0.80;">
               <span class="text-primary" style="font-size: 2.5rem;" id="Livro" >Livro: @ViewBag.user</span> 
            </a> *@
            <h3 style="background-color:darkgray; opacity: 0.80;">@Html.CheckBox("automatico") Automático </h3>
            @{
                 if (Model.Story.Nome == "Padrao")
                        {
                            <span style="background-color:white; opacity: 0.80;">Capitulo @atual de @quant</span>
                        }
                        else
                        {
                            <span style="background-color:white; opacity: 0.80;">Verso @atual de @quant</span>
                        } 
            }
            
            <div class="DivPagina" style=" height:50px; overflow: hidden; background-color: darkgrey;  opacity: 0.90;">
                    <span id="redireciona-1"></span>                        
                @{                               
                    for (var indice = 1; indice <= quant; indice++)
                    {
                         <div class="DivPag"
                             style="width:35px; height: 30px; border-radius: 30px; display:inline-grid; margin: 6px; background-color:darkgray; opacity: 0.80;"
                             id="DivPagina@(indice)">  
                                <span style="font-size: 2rem;" class="indices"><b>@indice</b> </span>
                                <span class="barra glyphicon glyphicon-minus"
                              style="font-size: 2rem;"  ></span>

                            </div>
                                     
                            if(indice >= 20){
                                <span id="redireciona-@(indice)"></span>
                            }          
                    }                          
                }

            </div>
        </center>

        <div class="progressbar">
                <div></div>
            </div>

    </div>

    <div id="comentario" style="display: none;">

    </div>


      

      

    <div class="container1" style="display:none; position:fixed; bottom:2%; left: 1%; width: 100%; background-color: rgba(239, 243, 11, 0.5); z-index: 2000;">
        <a class="btn btn-primary" href="#" id="fecharChat" > <span class="glyphicon glyphicon-remove-circle"></span> Fechar</a>
    <input type="text" id="menssagemChat" placeholder="digite a mensagem aqui." />
    <input type="button" id="sendmessage" value="Enviar mensagem" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
    </div>

     <div class="group" style="display:none; position:fixed; bottom:2%; left: 1%; width: 100%; background-color: rgba(239, 243, 11, 0.5); z-index: 2000;">
        
        @{
            if( Model.Story.SubStory != null && Model.Story.SubStory.Where(str => str.Pagina.Count > 0).ToList().Count > 0){
                for(int i = 1; i <= Model.Story.SubStory.Where(str => str.Pagina.Count > 0).ToList().Count; i++)
                {
                    <center>
                        <a href="/SubStory/@ViewBag.user/@Model.Story.PaginaPadraoLink/@i/1" >
                         Sub-Story @i - @Model.Story.SubStory.Where(str => str.Pagina.Count > 0).ToList()[i - 1].Nome
                          </a>
                    </center>
                    <br />
                }

            }
            else{
               <center> <p>não possui sub-story</p> </center>
            }

        }

    </div>

    <div id="loading" style="display:none; z-index:50;"><img src="~/imagem/loader.gif" /></div>

@section scripts{
  
    
    @* <script src="~/lib/aspnet-signalr/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/Chat-Renderizar.js"></script> *@
    <script src="~/js/loader.js"></script>
    <script src="~/js/DuracaoVideo.js"></script>
    <script type="text/javascript" src="~/js/Navegacao.js"> </script>    
    <script type="text/javascript" src="~/js/progressbar.js" >  </script>    
    <script type="text/javascript">
    
    if($("#usuario").length > 0)
    {
        document.getElementById("user").innerHTML = 
        document.getElementById("usuario").innerHTML;
        $("#usuario").hide();
    }

    function buscarComentarios(numero)
    {
            $("#comentario").load("/Pagina/Comentarios/" + numero);
    }
    
    $(".modal-content").css("width", "100%");
    $("#exampleModal").css("width", "100%");


      </script>    

    

}
