@model business.business.Pagina

<h4>Pagina</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="_EditarPagina">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="ArquivoMusic" type="hidden" />

            </div>

           

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Music" /> @Html.DisplayNameFor(model => model.Music)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Margem" /> @Html.DisplayNameFor(model => model.Margem)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Topo" /> @Html.DisplayNameFor(model => model.Topo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Menu" /> @Html.DisplayNameFor(model => model.Menu)
                    </label>
                </div>
            </div>
             <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Pular" /> @Html.DisplayNameFor(model => model.Pular)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Sobreescrita" class="control-label">Sobreescrita</label><br>
                <textarea asp-for="Sobreescrita" cols="30" rows="10" style="height: 300px; width: 350px;" ></textarea>
            </div>

            <div class="form-group">
                <input asp-for="UserId" type="hidden" />
                <input type="hidden" id="StoryId" name="StoryId" value="@Model.StoryId" />
            </div>

            <div class="form-group">
                <label asp-for="SubStoryId" class="control-label"></label>
                <select asp-for="SubStoryId" class="form-control" ></select>
                <span asp-validation-for="SubStoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GrupoId" class="control-label"></label>
                <select asp-for="GrupoId" class="form-control" ></select>
                <span asp-validation-for="GrupoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubGrupoId" class="control-label"></label>
                <select asp-for="SubGrupoId" class="form-control" ></select>
                <span asp-validation-for="SubGrupoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubSubGrupoId" class="control-label"></label>
                <select asp-for="SubSubGrupoId" class="form-control" ></select>
                <span asp-validation-for="SubSubGrupoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Layout" /> @Html.DisplayNameFor(model => model.Layout)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Blocos da pagina</label>
                <input asp-for="Blocos" type="text" value="@ViewBag.elementos" />
            </div>


        </form>
    </div>
</div>

<div>
    <script type="text/javascript" src="~/js/AjaxGetGroup.js"></script>
    <script type="text/javascript">

        let token = $('[name=__RequestVerificationToken]').val();
        let headers = {};
        headers['RequestVerificationToken'] = token;  

        $("input, select").change(function () {

            var data = {
            Id: @Model.Id,
            Titulo: $("#Titulo").val(),
                UserId: $("#UserId").val(),
            Facebook: $("#Facebook").val(),
            Sobreescrita: $("#Sobreescrita").val(),
            Twiter: $("#Twiter").val(),
            ArquivoMusic: $("#ArquivoMusic").val(),            
            Music: $("#Music").is(':checked'),
            Margem: $("#Margem").is(':checked'),
            PedidoId: $("#PedidoId").val(),
            StoryId: $("#StoryId").val(),
            SubStoryId: $("#SubStoryId").val(),
            GrupoId: $("#GrupoId").val(),
            SubGrupoId: $("#SubGrupoId").val(),
            SubSubGrupoId: $("#SubSubGrupoId").val(),
            Blocos: $("#Blocos").val(),
            Topo: $("#Topo").is(':checked'),
            Menu: $("#Menu").is(':checked'),
            Pular: $("#Pular").is(':checked'),
            Layout: $("#Layout").is(':checked')
        };  

            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/Pagina/EditarPagina',
                data: JSON.stringify(data),
                 headers: headers
            }).done(function (response) {

                    var numero = $("#IdentificaPagina").val();
                    $(".content").load("/Pagina/getview", { id: numero });
                });
            return false;
        });
    </script>
</div>

