@model business.business.Pagina

@{
    Layout = "~/Views/Shared/_Render.cshtml";
    var proximo = ViewBag.proximo;
    var anterior = proximo - 2;
    var atual = proximo - 1;
    var quant = ViewBag.quantidadePaginas;
}

<script src="/lib/jquery/dist/jquery.js"></script>

<style media="screen and (max-width: 550px)">
    .carousel-control {
        display: block !important;
    }

    #voltar {
        display: none !important;
    }

    #avancar {
        display: none !important;
    }
</style>

<style>

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
    }

    .glyphicon {
        font-size: 22px;
    }

    #sites {
        margin-left: 50px;
    }

    #paginas {
        margin-left: 50px;
    }

    #acesso {
        margin-left: 50px;
    }

    #loading {
        display: none;
        background-color: lightgray;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 300px;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }

    .blocoLoader {
        z-index: 40;
    }

    .blocoLoader2 {
        z-index: 0;
        bottom: 30%;
    }

    .DivPagina {
        z-index: 120;
    }


    .minhaClasse3 {
        color: red;
    }
</style>



@if (Model == null)
{
    <label class="control-label" style="margin-left:50px;">Escolha uma pagina</label>

}
else
{


    ViewData["Title"] = Model.Titulo;
    ViewBag.Title = Model.Titulo;
    string valor = ViewBag.html;

    <style media="screen and (max-width: 450px)">
        .content {
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="~/css/RenderizarDinamico.css" />
    <a class="left carousel-control blocoLoader2" href="/@ViewBag.user/Story-@(ViewBag.story)-Pagina/@(anterior)" style="display:none;">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>


    <a class="right carousel-control blocoLoader2" href="/@ViewBag.user/Story-@(ViewBag.story)-Pagina/@(proximo)" style="display:none;">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>

    <div style="position:fixed; top:5px;" class="blocoLoader row">
        <div class="col-xs-4">
            @{

                if (Model.Story.PaginaPadraoLink != 0)
                {
                    <span style="background-color:white;">Story: @Model.Story.Nome</span>
                    <br />
                    <span style="font-size: 12px; background-color: white;">
                        <a href="/@ViewBag.user/Story-Padrao-Pagina/@Model.Story.PaginaPadraoLink" class="btn btn-primary">
                            Capítulo @Model.Story.PaginaPadraoLink
                        </a>
                    </span>
                }
                else
                {
                    <span style="background-color:white;">Capítulos</span>
                }
            }
        </div>

        <div class="right col-xs-8" id="Pesquisa">
            @{
                if (Model.Story.PaginaPadraoLink == 0)
                {
                    <span style="background-color:white;">Cap.</span>
                }
                else
                {
                    <span style="background-color:white;">Vers.</span>
                }
            }
            <input type="number" placeholder="N° pagina"
                   id="NumeroPaginaAcesso2" value="@atual" style="width: 80px;" />
            <a id="acessoPaginaComInput2" href="#"
               class="btn btn-primary glyphicon glyphicon-search loader">
            </a>
            <a id="voltar" href="#"
               class="btn btn-primary loader glyphicon glyphicon-chevron-left">
            </a>
            <a id="avancar" href="#"
               class="btn btn-primary loader glyphicon glyphicon-chevron-right">
            </a>
            <a href="/" class="glyphicon glyphicon-home" style="left: 3%;"></a>
        </div>

    </div>

    @Html.Raw(ViewBag.Html)

    <div style="position:fixed; bottom:4%; left: 1%; width: 100%; overflow-x:auto;" class="DivPagina">

        <center>
            <h3 style="background-color:darkgray; opacity: 0.80;">@Html.CheckBox("automatico") Automático </h3>

            <div>

                @{ for (var indice = 1; indice <= quant; indice++)
                    {
                        <div style="width:30px; display:inline-grid; margin: 0px, 4px, 0px, 4px;">

                            <span style="font-size: 11px; background-color:darkgray; opacity: 0.50;"><b>@indice</b> </span>
                            <a href="/@ViewBag.user/Story-@(ViewBag.story)-Pagina/@(indice)" class="loader LinksPagina" style="background-color:darkgray; opacity: 0.80;">
                                <span class="glyphicon glyphicon-record" id="DivPagina@(indice)"
                                      style="font-size: 18px;"></span>
                            </a>
                        </div>



                    }
                }

            </div>
        </center>

    </div>


    <div id="loading" style="display:none; z-index:50;"><img src="~/imagem/loader.gif" /></div>

}



@section scripts{

    @*<script src="https://unpkg.com/jquery@2.2.0/dist/jquery.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.cookie.js"></script>
    <script src="~/js/loader.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var links = $(".LinksPagina");

            if("@(Model.Story.Nome)" != "Padrao")
                $("#NumeroPaginaAcesso2").attr('placeholder', 'Nº versiculo');

            
            

            $("#DivPagina@(atual)").addClass('minhaClasse3');

           

            $("#voltar").click(function () {
                window.location.href = "/@ViewBag.user/Story-" + "@ViewBag.story" + "-Pagina/" + @anterior;
            });

            $("#avancar").click(function () {
                window.location.href = "/@ViewBag.user/Story-" + "@ViewBag.story" + "-Pagina/" + @proximo;
            });

            var checkbox = document.querySelector("#automatico");
            function ativarCheckbox(el) {
                el.checked = true;
            }
            function desativarCheckbox(el) {
                el.checked = false;
            }

             if ("@(atual)" == "1") {
                
                $.cookie('automatico', '1');
                ativarCheckbox(checkbox);
            }

            $("input").change(function () {

                if ($("#automatico").is(':checked') == true) {
                    $.cookie('automatico', '1');
                    alert("As paginas serão mostradas automaticamente.");
                    setTimeout(function () {
                        $("#loading").show();

                        if (@atual < @quant)
                            window.location.href = "/@ViewBag.user/Story-" + "@ViewBag.story" + "-Pagina/" + @proximo;
                        else
                            window.location.href = "/@ViewBag.user/Story-" + "@ViewBag.story" + "-Pagina/1";
                    }, 10000);
                }
                else
                    $.cookie('automatico', '0');
            });

            function BuscarStory()
            {
                $.ajax({
                    type: 'POST',
                    url: '/AjaxGet/GetStory',
                    dataType: 'json',
                    data: { Indice: @(Model.Story.PaginaPadraoLink), User: "@(ViewBag.user)"   }
                })
                    .done(function (response) {

                        $.cookie('automatico', '1');
                        window.location.href = "/@ViewBag.user/Story-" + response + "-Pagina/1";
                        

                    });
            }

            if ($.cookie('automatico') == '1')
            {
                ativarCheckbox(checkbox);
                setTimeout(function () {


                    if ($.cookie('automatico') == '1')
                    $("#loading").show();
                    if (@atual < @quant && $.cookie('automatico') == '1')
                        window.location.href = "/@ViewBag.user/Story-" + "@ViewBag.story" + "-Pagina/" + @proximo;
                    else if ($.cookie('automatico') == '1')
                    {
                        if("@(Model.Story.Nome)" != "Padrao")
                            BuscarStory();
                        else
                        window.location.href = "/@ViewBag.user/Story-Padrao-Pagina/1";
                    }
                }, 10000);
            }
            else
                desativarCheckbox(checkbox);



            $(".carousel-control").click(function () { $("#loading").show(); });



            $("#NumeroPaginaAcesso2").change(function () {

                document.getElementById("acessoPaginaComInput2").href = "/@ViewBag.user/Story-" +
                    "@ViewBag.story" + "-Pagina/";
                document.getElementById("acessoPaginaComInput2").href += $(this).val();
            });

        });
    </script>

}


