@model business.business.Elementos.texto.Texto

<h4>Texto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="_Texto">

            @if (Model.Id != 0)
            {
                <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=m8nq39l31dv5y829ehcjsd0rciwei8crem0yubndhdgs72fd"></script>
                <script src="~/js/Tynymce.js"></script>
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Ordem" class="control-label"></label>
                <input asp-for="Ordem" type="number" class="form-control" />
                <span asp-validation-for="Ordem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AlignSelf" class="control-label"></label>
                <select asp-for="AlignSelf" class="form-control">
                    <option value="auto">auto</option>
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="baseline">baseline</option>
                    <option value="stretch">stretch</option>
                </select>
                <span asp-validation-for="AlignSelf" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClassesModificadoras" class="control-label"></label>
                <input asp-for="ClassesModificadoras" class="form-control" />
                <span asp-validation-for="ClassesModificadoras" class="text-danger"></span>
            </div>

             <div class="form-group">
                    <label asp-for="Width" class="control-label"></label>
                    <input asp-for="Width" type="range" max="100" min="5" value="@Model.Width" class="form-control" />
                    <span asp-validation-for="Width" class="text-danger"></span>
                    <input id="Elemento_Width" name="Div_Width" type="number" value="@Model.Width" class="form-control" />
                </div>

            @{
                if (ViewBag.condicao)
                {
                    <div class="form-group">
                        <label asp-for="PaginaEscolhida" class="control-label"></label>
                        <select asp-for="PaginaEscolhida" class="form-control" asp-items="ViewBag.PaginaEscolhida"></select>
                        <span asp-validation-for="PaginaEscolhida" class="text-danger"></span>
                    </div>
                }
            }

            @if (Model.Id == 0)
            {
                <div class="form-group">
                    <label asp-for="PalavrasTexto" class="control-label"></label>
                    <script type="text/javascript">Criar();</script>
                    <textarea id="textarea" name="ajax_text" class="form-control"></textarea>
                    <span asp-validation-for="PalavrasTexto" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="PalavrasTexto" class="control-label"></label>
                    <script type="text/javascript">Editar();</script>
                    <textarea id="textarea" name="ajax_text" class="form-control">@Model.PalavrasTexto</textarea>
                    <span asp-validation-for="PalavrasTexto" class="text-danger"></span>
                </div>
            }

            <input asp-for="Pagina_" type="hidden" />
            <input type="hidden" asp-for="Id" />
            @{
                if (Model.Id == 0)
                {
                    <div class="form-group">
                        <script src="~/js/Elemento/texto/ElementoTexto.js"></script>
                        <input type="button" value="Save" onclick="ScriptElemento.Create()" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <div>
                        <a href="#" class="btn btn-warning blocoGradiente">Plano gradiente</a><br />
                        <a href="#" class="btn btn-primary blocoImagem">Plano imagem</a><br />
                        <a href="#" class="btn btn-danger blocoCor">Plano de uma cor</a><br />
                        <script src="~/js/Elemento/texto/ElementoTexto.js"></script>
                         <script type="text/javascript" src="~/js/retorno.js"></script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("input, select").change(function () {

                                    ScriptElemento.Update();
                                });

                    $(".blocoImagem").click(function () {
           
                     $("#conteudomodal").load("/Background/Edit/BackgroundImagemElemento/" + @(Model.Id));
                    });

                    $(".blocoGradiente").click(function () {
                        
                            $("#conteudomodal").load("/Background/Edit/BackgroundGradienteElemento/"+ @(Model.Id));

                    });

                    $(".blocoCor").click(function () {
                        
                            $("#conteudomodal").load("/Background/Edit/BackgroundCorElemento/"+ @(Model.Id));
                    });

                            });
                        </script>

                    </div>
                }
            }


            @if (Model.Id != 0)
            {
                <a href="#" class="btn btn-primary" id="EditorTexto">Editor de Texto</a>
            }

            @if (Model.Id != 0)
            {
                <div>
                    <script type="text/javascript">
            $(document).ready(function () {

                $("#EditorTexto").click(function () {

                    $("#FormTexto, #estrutura, #Permissao, #Galeria, #GaleriaBlocos").fadeOut("slow");
                    $("#conteudomodal").load("/Pagina/EmBranco/");
                    $("#FormTexto").fadeIn("slow");
                    $("#FormTexto").load("/Elemento/Edit/" + @Model.Id);
                });
            });
                    </script>
                </div>
            }
        </form>
    </div>
</div>

