@model IEnumerable<business.Back.Cor>  

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tipo")
            </th>
            <th>
                @Html.DisplayName("Id")
            </th>
             <th>
                @Html.DisplayNameFor(model => model.CorBackground)
            </th>             
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(c => c.BackgroundDivId != null)) {
        <tr>
            <td>
                <label>Cor para bloco</label>
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.BackgroundDiv.Id)
            </td> 
            <td>
                <input type="color" value="@item.CorBackground" />
            </td>             
            
            <td>
                <a class="EditarCor" data-value="@item.Id">Editar</a> |
                <a class="ApagarCor" data-value="@item.Id">Apagar</a>
            </td>
        </tr>
}
@foreach (var item in Model.Where(c => c.BackgroundContainerId != null)) {
        <tr>
            <td>
                <label>Cor para container</label>
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.BackgroundDiv.Id)
            </td> 
            <td>
                <input type="color" value="@item.CorBackground" />
            </td>             
            
            <td>
                <a class="EditarCorContainer" data-value="@item.Id">Editar</a> |
                <a class="ApagarCor" data-value="@item.Id">Apagar</a>
            </td>
        </tr>
}
@foreach (var item in Model.Where(c => c.BackgroundElementoId != null)) {
        <tr>
            <td>
                <label>Cor para elemento</label>
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.BackgroundDiv.Id)
            </td> 
            <td>
                <input type="color" value="@item.CorBackground" />
            </td>             
           
            <td>
                <a class="EditarCorElemento" data-value="@item.Id">Editar</a> |
                <a class="ApagarCor" data-value="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".EditarCor").click(function () {
                var id = $(this).data("value"); 
                $("#conteudomodal").load("/Ferramenta/EditCor/" + id);
            });

            $(".EditarCorContainer").click(function () {
                var id = $(this).data("value"); 
                $("#conteudomodal").load("/Ferramenta/EditCorContainer/" + id);
            });
            
            $(".EditarCorElemento").click(function () {
                var id = $(this).data("value"); 
                $("#conteudomodal").load("/Ferramenta/EditCorElemento/" + id);
            });

            $(".ApagarCor").click(function () {
                var id = $(this).data("value");
                $("#conteudomodal").load("/Ferramenta/DeleteCor/" + id);
            });

        });
    </script>
</div>
