
@{
    ViewData["Title"] = "Admin";

    List<business.business.DadoFormulario> dados = ViewBag.dados;
}

<h1>Administrador</h1>


@Html.ActionLink("Importar capitulo de livro", "BaixarHtmlLivroCapitulo", "SuperAdmin") ||
@Html.ActionLink("Importar verso de livro", "BaixarHtmlLivroVerso", "SuperAdmin") ||
@Html.ActionLink("Incorporar video do youtube", "Incorporar", "SuperAdmin") ||
@Html.ActionLink("Upload de arquivos", "Create", "VideoIncorporado") ||
@Html.ActionLink("Compartilhando com verso", "CompartilhaVerso", "SuperAdmin") ||
@Html.ActionLink("Definir livros", "DefinirLivros", "SuperAdmin") ||
@Html.ActionLink("Upload de imagens", "ImageContent", "SuperAdmin") ||

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-Formulario").click(function () {
                $(".dados").fadeOut("slow");
                $("#Formulario").fadeIn("slow");
            });

            $("#btn-Venda").click(function () {
                $(".dados").fadeOut("slow");
                $("#Venda").fadeIn("slow");
            });

        });
    </script>
}

