@model IEnumerable<business.business.Produto>
@{
    Layout = null;
    int atual = ViewBag.pagina;
    int proximo = atual + 1;
    int anterior = atual - 1;
    var quant = Model.ToList().Count;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/paginacao.css" />

</head>

<body>
   
    <div id="configuracao">
    <p id="livro"><strong>Livro: Leandro</strong></p>
    <p id="config">
        <strong>
        <a  href="#" id="configurar" onclick="clicou()" >Info e Config</a>
        </strong>
    </p>
    <p id="automatico" >
        <strong>
            @{
                if(ViewBag.automatico == 1)
                {
                    <a  href="/paginacao/@atual/@ViewBag.ordenar/0/@ViewBag.tempo/@ViewBag.tamanho" >
                    Desabilitar automático
                    </a>
                }
                else
                {
                    <a  href="/paginacao/@atual/@ViewBag.ordenar/1/@ViewBag.tempo/@ViewBag.tamanho" >
                    Habilitar automático
                    </a>
                }
            }
        
        </strong>
    </p>

    <p id="lista">
        <strong>
            @{
                if(atual > 1)
                {
                    <a href="/paginacao/@anterior/@ViewBag.ordenar/@ViewBag.automatico/@ViewBag.tempo/@ViewBag.tamanho">
                     Lista Anterior ||
                     </a> 
                }

            }
                          
                <a href="/paginacao/@proximo/@ViewBag.ordenar/@ViewBag.automatico/@ViewBag.tempo/@ViewBag.tamanho">
                 Proxima lista >>>
                 </a>

        </strong>
            </p>
    </div>

     <div id="cabecalho">
        <div>
            <h4>Logo</h4>

        </div>
        <div id="ordenacao">
            <h4>Ordenar</h4>
            <input type="hidden" value="@quant" id="quantidade" name="quantidade" > 
            <input type="hidden" value="@ViewBag.automatico" id="auto" name="auto" > 
            <a href="/paginacao/1/nome/1/@ViewBag.tempo/@ViewBag.tamanho" >Ordenar por nome</a>
            <a href="/paginacao/1/preco/1/@ViewBag.tempo/@ViewBag.tamanho" >Ordenar por preço</a>
            <a href="/paginacao/1/capitulo/1/@ViewBag.tempo/@ViewBag.tamanho" >Ordenar por capitulo</a>
        </div>
        <div id="proxima-lista">
            <h3>Tamanho da lista</h3>
            <strong>
            <a href="/paginacao/1/nome/1/@ViewBag.tempo/10" >10 itens</a>

            </strong>
            <strong>
            <a href="/paginacao/1/preco/1/@ViewBag.tempo/40" >40 itens</a>

            </strong>
            <strong>
            <a href="/paginacao/1/capitulo/1/@ViewBag.tempo/80" >80 itens</a>

            </strong>
            <input type="hidden" value="@ViewBag.tamanho" id="tamanho" name="tamanho" >
        </div>
        <div>
            <label for="tempo" > <strong>Time em segundos (s):</strong> </label>
            <input type="number" value="@ViewBag.tempo" id="tempo" name="tempo" max="600" min="15" >
            <a href="#" onclick="alterou()">Alterar time</a>
        </div>

    </div>
    

    <div class="container">

        @foreach (var item in Model)
        {
            var path = item.Imagem.First().ArquivoImagem;
            var largura = item.Imagem.First().WidthImagem;
            var identifica = item.Pagina.Id;
            List<business.business.Pagina> lista = item.Pagina.Story.Pagina;
            var Capitulo = item.Pagina.Story.PaginaPadraoLink;
            var Versiculo = lista.IndexOf(lista.First(l => l.Id == identifica)) + 1;
            <div class="produto">
                <div class="info">
                    <p> Nome: @item.Nome </p>
                    <p> Descrição: @item.Descricao </p>
                    <p> Preço: @item.Preco </p>
                    <p> Estoque: @item.QuantEstoque </p>
                </div>
                <div class="caps">
                    <strong>
                        <a href="/Renderizar/@Capitulo/@Versiculo" >
                        Capitulo @Capitulo                        
                        </a> <br>
                        <a href="/Renderizar/@Capitulo/@Versiculo" >                        
                        Versiculo @Versiculo
                        </a>
                    </strong>
                </div>
                <a href="/Renderizar/@Capitulo/@Versiculo" >
                <img src="@path" alt="Imagem do produto"  />

                </a>

            </div>
        }
    </div>
    

   <script type="text/javascript">

        var elements1 = document.getElementsByClassName("info");
        var elements2 = document.getElementsByClassName("produto");
        var elements3 = document.getElementsByClassName("caps");
        var element = document.getElementById("cabecalho");
        var element2 = document.getElementById("auto");
        var element3 = document.getElementById("tamanho");
        var time = parseInt(document.getElementById("tempo").value) * 1000;

        for(var i = 0; i < elements2.length; i++){
                if(parseInt(element3.value) == 80)
                {
                    elements2[i].style.width = "90px";
                    elements2[i].style.minHeight = "108px";
                    elements2[i].style.height = "auto";
                }
                else
                if(parseInt(element3.value) == 40)
                {
                    elements2[i].style.width = "172px";
                    elements2[i].style.minHeight = "210px";
                    elements2[i].style.height = "auto";
                }
                else
                if(parseInt(element3.value) == 10)
                {
                    elements2[i].style.width = "344px";
                    elements2[i].style.minHeight = "430px";
                    elements2[i].style.height = "auto";
                }
            }

            if(parseInt(element3.value) == 80)
                {
                    for(var i = 0; i < elements3.length; i++)
                    elements3[i].style.fontSize = "0.8em";
                }
                else
                if(parseInt(element3.value) == 40)
                {
                    for(var i = 0; i < elements3.length; i++)
                    elements3[i].style.fontSize = "1.2em";
                }
                else
                if(parseInt(element3.value) == 10)
                {
                     for(var i = 0; i < elements3.length; i++)
                    elements3[i].style.fontSize = "1.8em";
                }

        function clicou()
        {
                for(var i = 0; i < elements1.length; i++){
                elements1[i].style.display = "block";
            }
            element.style.display = "flex";
        }
        
        function alterou()
        {
            window.location.href = "/paginacao/@atual/@ViewBag.ordenar/1/" +
            document.getElementById("tempo").value + "/@ViewBag.tamanho";
        }
       
        if(parseInt(element2.value) == 1)
        {
            setTimeout(function() {
            if(parseInt(document.getElementById("quantidade").value) == parseInt(element3.value))
            window.location.href = "/paginacao/" + @proximo + "/" + "@ViewBag.ordenar/1/@ViewBag.tempo/@ViewBag.tamanho";
            else
            window.location.href = "/paginacao/1/" + "@ViewBag.ordenar/1/@ViewBag.tempo/@ViewBag.tamanho";

            }, time);  

        }


          
    </script> 
</body>

</html>
