  

  <br />
<h1>Permissões para usuarios</h1>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row marginEspaco">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com videos
        </label>
        @Html.TextArea("Videos", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Videos } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com textos
        </label>
        @Html.TextArea("Texto", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Texto } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com imagens
        </label>
        @Html.TextArea("Imagem", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Imagem } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com musicas
        </label>
        @Html.TextArea("Music", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Music } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com planos de fundo
        </label>
        @Html.TextArea("Background", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Background } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com carrossel
        </label>
        @Html.TextArea("Carousel", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Carousel } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com links
        </label>
        @Html.TextArea("Link", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Link } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com blocos
        </label>
        @Html.TextArea("Div", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Div } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com elementos
        </label>
        @Html.TextArea("Elemento", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Elemento } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com configurações de pagina
        </label>
        @Html.TextArea("Pagina", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Pagina } })
    </div>
    

    <div class="col-md-12">
        <label class="control-label">
            Separar por virgula todos os usuarios que vão trabalhar com produtos
        </label>  
        @Html.TextArea("Ecommerce", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Ecommerce } })
    </div> 

    <div class="col-md-12">
        <input type="button" value="Salvar" class="btn btn-TextoEditar" />
        <a id="btnFecharPermissoes" class="btn btn-success">Fechar</a>
    </div>



</div>
}

<div>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnFecharPermissoes").click(function () {
                $("#FormTexto, #estrutura, #Permissao").fadeOut("slow");
                $("#estrutura").fadeIn("slow");
            });

            var numero = $(".bloco")[0].baseURI.replace(/[^0-9]/g, '');
            numero = numero.replace('44311', '');

            let token = $('[name=__RequestVerificationToken]').val();
            let headers = {};
            headers['RequestVerificationToken'] = token;

            $(".btn-TextoEditar").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/SalvarDados',
                    dataType: 'json',
                    data: {
                        Id: @ViewBag.site,
                        Videos: $("#Videos").val(),
                        Texto: $("#Texto").val(),
                        Imagem: $("#Imagem").val(),
                        Carousel: $("#Carousel").val(),
                        Background: $("#Background").val(),
                        Music: $("#Music").val(),
                        Link: $("#Link").val(),
                        Div: $("#Div").val(),
                        Elemento: $("#Elemento").val(),
                        Pagina: $("#Pagina").val(),
                        Ecommerce: $("#Ecommerce").val()
                    },
                    headers: headers,
                    success: function (data) {

                        if (data != "")
                        {
                            $("#Hidden1").val(true);
                            $(".content").load("/Pagina/getview",
                                { id: numero });
                        }
                        else { alert('Erro: Preencha o formulario corretamente'); }
                    },
                    error: function (ex) {
                        alert('Falha ao alterar elemento.' + ex);
                    }
                });
                return false;
            });



        });
    </script>
</div>